
body {
    background: #f3f3f3;
}

.App {
    display: flex;
    align-items: center;
    height: 100vh;
}

.main-title {
    font-size: 28px;
    color: #149fa0;
    text-transform: lowercase;
    margin-bottom: 20px;
}

.btn-default {
    background: transparent;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px 30px;
    color: #000;
    font-weight: 500;
    outline: none !important;
}

.loading-animation {
    img {
        width: 250px;
        margin: 0 auto;
        display: block;
    }
}

.field-error {
    color: red;
    font-size: 13px;
    text-align: left;
}

.field-group {
    position: relative;
    margin-bottom: 15px;

    label {
        position: absolute;
        transform: translateY(-34px);
        color: #8a8a8a;
        margin: 0;
        left: 15px;
        transition: transform .2s ease-in-out;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.field {
    display: block;
    background: #f3f3f3;
    border: none;
    padding: 10px 5px 10px 15px;
    border-radius: 5px;
    width: 100%;
    outline: none;

    &.active {
        + label  {
            font-size: 14px;
            transform: translateY(-55px);
            color: #ebbc3a;
            font-weight: 500;
        }
    } 
}

.welcome-screen {
    position: relative;
    display: flex;
    align-items: center;
    width: 850px;
    height: 500px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;

    .login-register {
        width: 60%;
        padding: 0 90px;
        text-align: center;

        .signup-tab, .login-tab {
            width: 100%;
            margin: 0 auto;
        }
    }

    .sidebar {
        position: absolute;
        width: 40%;
        height: 100%;
        text-align: center;
        background: linear-gradient(0deg, #ff4f87 0%, rgba(253,187,45,1) 100%);
        transform: translateX(0);
        transition: all 1s .1s ease-in-out;
        overflow: hidden;

        .btn-default {
            display: inline-block;
            position: relative;
            width: 150px;
            height: 46px;
            margin-top: 70px;
            padding: 10px;
            border: 1px solid #fff;
            color: #fff;
            transition: all .3s cubic-bezier(.8, 0, 0, .5);
            overflow: hidden;

            span {
                position: absolute;
                display: inline-block;
            }
        }
    }

    .signup-tab {
        transform: translate(-1%, -40%);
        opacity: 1;
        transition: transform .8s .2s ease-in, opacity .3s .5s ease-in;
    }

    .login-tab {
        transform: translate(100%, 65%);
        opacity: 1;
        transition: transform .8s .2s ease-in, opacity .3s .5s ease-in;
    }

    &.signup-screen {
        .signup-tab {
            transform: translate(50%, -40%);
            opacity: 0;
        }

        .info-signup {
            transform: translate(0, 169%);
        }

        .sidebar {
            transform: translateX(0);
        }

        .btn-signup {         
            span {
                &:first-of-type {
                    transform: translateX(-350%);
                    transition: transform .3s ease-out;
                }
                &:last-of-type {
                    transform: translateX(-50%);
                    transition: transform .7s ease-in;
                }
            }
        }
    }

    &.login-screen {
        .login-tab {
            transform: translate(50%, 65%);
            opacity: 0;
        }

        .info-login {
            transform: translate(0%, 50%);
        }

        .sidebar {
            transform: translateX(150%);
        }

        .btn-login {
            span {
                &:first-of-type {
                    transform: translateX(-50%); 
                    transition: transform .7s ease-in;
                }

                &:last-of-type {
                    transform: translateX(200%);
                    transition: transform .3s ease-out;
                }
            }
        }
    }

    .btn-login {
        span {
            &:first-of-type {
                transform: translateX(0%); 
            }

            &:last-of-type {
                transform: translateX(0%); 
            }
        }
    }

    .info-login, .info-signup {
        max-width: 270px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        transition: all 1s .1s ease-out;
    }

    .info-login {
        transform: translate(150%, 50%);
    }

    .info-signup {
        transform: translate(-200%, 169%);
    }

    .login-register {
        .btn-default {
            display: block;
            margin: 20px auto 0;
        }
    }
}

.box {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 6px 28px -3px rgba(77, 113, 152, 0.07), 0 -3px 18px 0px rgba(77, 113, 152, 0.07);

    .box-body {
        padding: 15px 20px;
    }
}

.chart {
    width: 720px;
    margin: 0 auto;
}